/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 4rem;
}

/* HEADER */
h1 {
    text-align: center;
    color: rgba(228, 45, 96, 1);
    margin-bottom: 3rem;
}

.sottotitolo {
    text-align: center;
    margin-bottom: 2rem;
}

/* Main */
.clearfix::after { 
    content: "";
    display: table;
    clear: both;
}

.box {
    width: calc((100% / 3) - (2rem / 3));
    float: left;
    background-color: rgba(15, 14, 23, 1);
    color: white;
    margin-bottom: 1rem;
}

.box.middle {
    margin: 0 1rem;
}

img {
    max-width: 40%;    
}

.informazioni {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
    max-width: 60%;
}

.lavoro {
    margin-top: 10px;
}

.email {
    margin-top: 10px;
    color: rgba(110, 203, 242, 1);
}


